
<div class="slider-container ">
    <div class="sliders">
        <img src="@ViewBag.slider1" />
        <img class="active" src="@ViewBag.slider2" />
        <img src="@ViewBag.slider3" />
        <img src="@ViewBag.slider4" />
    </div>
    <div class="slider-control">
        <div class="slider-prev">
            <ion-icon name="chevron-back-sharp"></ion-icon>
        </div>
        <div class="slider-next">
            <ion-icon name="chevron-forward-sharp"></ion-icon>
        </div>
    </div>
</div>
