
<div class="container-fluid banner">
    <div class="wrapper-app">
        <a href="https://play.google.com/store/apps/details?id=kfc.vietnam&hl=en">
            <div class="banner_App ggPlay"></div>
        </a>

        <a href="https://apps.apple.com/vn/app/kfc-vietnam/id562164615?l=en">
            <div class="banner_App appStore"></div>
        </a>
    </div>
</div>