
<div class="header-sub">
    <div class="content-header-sub">
        <span>@ViewBag.text</span>
        <span>
            <span class="takeAway-1"></span>
            <span>@ViewBag.takeAway1</span>
        </span>
        <span>
            <span class="takeAway-2"></span>
            <span>@ViewBag.takeAway2</span>
        </span>
    </div>
    <a href="/Cart" class="btn btn_dathang">
        Bắt đầu đặt hàng
    </a>
</div>
