
<div class="emty-cart position-relative d-flex align-items-center justify-content-start flex-wrap" style="padding: 45px 55px; background-color: #F8F7F5">
    <div class="content-emty-cart position-absolute">
        <h2 style="font-family: 'Oswald-SemiBold'; font-size: 44px; letter-spacing: 2.5px; line-height: 58px;">GIỎ HÀNG CỦA BẠN ĐANG TRỐNG. HÃY ĐẶT MÓN NGAY!</h2>
        <a href="/Menu" class="btn_dathang">Bắt đầu đặt hàng</a>
    </div>
</div>