<style>
    .form_input.has-value ~ .form-label {
        top: -1px;
        font-size: 0.8em;
    }
</style>
<form class="text-start form-reset" id="changePasswordForm" data-url="@Url.Action("ChangePassword", "Account")">
    <h1 id="Noti" style="display: none;color:red">Đổi Mật Khẩu Thành Công!</h1>
    <h2 class="login_title text-dark">ĐẶT LẠI MẬT KHẨU</h2>
    <div class="Body_form mt-4">
        <input class="form_input input-password" id="curpassword" name="curpassword" rules="required|min:6" type="password" data-target="curpassword">
        <label for="curpassword" class="form-label">Mật khẩu hiện tại</label>
        <div class="form-message"></div>
        <span class="icon-password" data-target="curpassword"><ion-icon name="eye-off"></ion-icon></span>
    </div>
    <div class="Body_form mt-4">
        <input class="form_input input-password" id="newpassword" name="newpassword" rules="required|min:6" type="password" data-target="newpassword">
        <label for="newpassword" class="form-label">Mật khẩu</label>
        <div class="form-message"></div>
        <span class="icon-password" data-target="newpassword"><ion-icon name="eye-off"></ion-icon></span>
    </div>
    <div class="Body_form mt-4">
        <input class="form_input input-password" id="confirpassword" name="confirpassword" rules="required|min:6" type="password" data-target="confirpassword">
        <label for="confirpassword" class="form-label">Xác nhận mật khẩu</label>
        <div class="form-message"></div>
        <span class="icon-password" data-target="confirpassword"><ion-icon name="eye-off"></ion-icon></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-custom btn-danger" id="update">Cập nhật tài khoản</button>
    </div>
</form>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/Account.js"></script>
<script>
    $('.icon-password').click(function () {
        var targetId = $(this).attr('data-target');
        
        var targetInput = $('#' + targetId); 
        var currentType = targetInput.attr('type');

        if (currentType === "password") {
            $(this).html('<ion-icon name="eye"></ion-icon>'); 
            targetInput.attr('type', 'text'); // Hiển thị mật khẩu
        } else {
            $(this).html('<ion-icon name="eye-off"></ion-icon>'); // Thay đổi biểu tượng mắt
            targetInput.attr('type', 'password'); // Ẩn mật khẩu
        }  
    });

</script>

