
<div style="color: #fff" class="row menu-items justify-content-md-center">
    <div class="col col-12">
        <h6 class="text-start px-3">Danh Mục Món Ăn</h6>
        <div class="list-group text-start ">
            <a href="/Menu/#hot-deal" class="list-group-item list-group-item-action">Ưu đãi</a>
            <a href="/Menu/#new-product" class="list-group-item list-group-item-action">Món mới</a>
            <a href="/Menu/#for-one" class="list-group-item list-group-item-action">Combo 1 Người</a>
            <a href="/Menu/#sharing" class="list-group-item list-group-item-action">Combo Nhóm</a>
            <a href="/Menu/#fried-rosted-chicken" class="list-group-item list-group-item-action">Gà Rán - Gà Quay</a>
            <a href="/Menu/#burger---rice" class="list-group-item list-group-item-action">Burger - Cơm - Mì Ý</a>
            <a href="/Menu/#snack" class="list-group-item list-group-item-action">Thức Ăn Nhẹ</a>
            <a href="/Menu/#dessert-and-drink" class="list-group-item list-group-item-action">Thức Uống & Tráng Miệng</a>
        </div>
    </div>
</div>
<div style="color: #fff" class="row menu-items justify-content-md-center">
    <div class="col col-12">
        <h6 class="text-start px-3">Về KFC</h6>
        <div class="list-group text-start ">
            <a href="#" class="list-group-item list-group-item-action">Câu Chuyện Của Chúng Tôi</a>
            <a href="#" class="list-group-item list-group-item-action">Tin Khuyến Mãi</a>
            <a href="#" class="list-group-item list-group-item-action">Tin tức KFC</a>
            <a href="#" class="list-group-item list-group-item-action">Tuyển dụng</a>
            <a href="#" class="list-group-item list-group-item-action">Đặt tiệc Sinh nhật</a>
        </div>
    </div>
</div>
<div style="color: #fff" class="row menu-items justify-content-md-center">
    <div class="col col-12">
        <h6 class="text-start px-3">Liên hệ KFC</h6>
        <div class="list-group text-start ">
            <a href="/Home/FollowOrder" class="list-group-item list-group-item-action">Theo dõi đơn hàng</a>
            <a href="#" class="list-group-item list-group-item-action">Hệ Thống Nhà Hàng</a>
            <a href="#" class="list-group-item list-group-item-action">Liên hệ KFC</a>
        </div>
    </div>
</div>
<div style="color: #fff" class="row menu-items justify-content-md-center">
    <div class="col col-12">
        <h6 class="text-start px-3">Chính sách</h6>
        <div class="list-group text-start ">
            <a href="#" class="list-group-item list-group-item-action">Chính sách hoạt động</a>
            <a href="#" class="list-group-item list-group-item-action">Chính sách và quy định</a>
            <a href="#" class="list-group-item list-group-item-action">Chính sách bảo mật thông tin</a>
        </div>
    </div>
</div>
<div style="color: #fff" class="row menu-items justify-content-md-center">
    <div class="col col-12">
        <h6 class="text-start  px-3">Download App</h6>
        <div class="list-group text-start px-3 ">
            <a href="https://apps.apple.com/vn/app/kfc-vietnam/id562164615?l=en" class="list-group-item list-group-item-action footer-app-appstore"></a>
            <a href="https://play.google.com/store/apps/details?id=kfc.vietnam&hl=en" class="list-group-item list-group-item-action footer-app-ggplay"></a>
        </div>
    </div>
</div>